.resa-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    gap: 5rem;
    padding-left: 71px;
}

.navbar {
    display: flex;
}